
.ap {
  margin: 50px auto;
  display: block;
  animation: rotate 2s linear infinite;
}
.ap__ring,
.ap__worm1,
.ap__worm2 {
  animation: dash 2s ease-in-out infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -350;
  }
}
